<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Архив - CTF</title>
</head>
<body>

{% include 'html/login_container.html' %}
{% include 'html/top_bar.html' %}

<table class="archive">
  <caption>
    Archive
  </caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Difficulty</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td><a href="/tasks/{{task.id}}">{{task.name}}</a></td>
      <td>{{task.difficulty}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</body>
</html>
