<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель модератора - CTF</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

{% include 'html/login_container.html' %}
{% include 'html/top_bar.html' %}

<div style="margin-top: 10%; margin-left: 40%; text-align: left">
    <form action="/add_task" enctype="multipart/form-data" method="post">
        Steganography <input type="checkbox" name="Steganography">
        Web <input type="checkbox" name="Web">
        Revers engineering <input type="checkbox" name="Revers">
        Cipher <input type="checkbox" name="Cipher">
        Forensic <input type="checkbox" name="Forensic">
        Name: <br><input type="text" name="name" value="">
        <br>
        Description: <br><textarea name="description" cols="40" rows="5"></textarea>
        <br>
        Difficulty: <br><input type="number" name="difficulty" min="0">
        <br>
        Answer key: <br><input type="text" name="answer_key" value="">
        <br>
        File: <br><label for="file-upload" class="submit">Upload</label>
        <br>
        <input type="file" name="file" id="file-upload" multiple class="file">
        <br>
	    <input style="width: 40%; height: 50px" type="submit" name = "submit" value="Send" class="submit">
    </form>
</div>

</body>
</html>