<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная - CTF</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

{% include 'html/login_container.html' %}
{% include 'html/top_bar.html' %}

<h2> {{task.name}}</h2>
<div class="task-description">
	{{task.description}}
</div>

{% if is_login %}
<form action="/submit_solution/{{task.id}}" method="get">
	<input type="text" name="answer">
	<input type="submit" class = "submit" value="Send">
</form>
<a href="/submissions/{{task.id}}">Watch all submissions</a>
<table class="submissions table">
  <caption>
	Your submissions
  </caption>
  <thead>
    <tr>
      <th scope="col">Your Answer</th>
      <th scope="col">Verdict</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td>{{submission.solution}}</td>
      <td>{{submission.verdict}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p> Login before submitting </p>
{% endif %}

{% if task.file %}
<a href="/task_files/{{task.file}}" download> Download file</a>
{% endif %}

</body>
</html>
