<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Топ - CTF</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

{% include 'html/login_container.html' %}
{% include 'html/top_bar.html' %}

<table class="top table">
  <caption>
    Top of users
  </caption>
  <thead>
    <tr>
      <th scope="col">N</th>
      <th scope="col">Name</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td><a style="color: {{user.color}}" href="users/{{user.id}}">{{user.name}}</a></td>
      <td>{{user.rating}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</body>
</html>
