<div class="menu-container"> 
	<ul class="menu-list">
		<li class="{% if current == 'Home' %} active-menu-tab {% endif %}"><a href="/">Home</a></li>
		<li class="{% if current == 'Tasks' %} active-menu-tab {% endif %}"><a href="/archive">Tasks</a></li>
		<li class="{% if current == 'Contests' %} active-menu-tab {% endif %}"><a href="#">Contests</a></li>
		<li class="{% if current == 'Top' %} active-menu-tab {% endif %}"><a href="/top">Top</a></li>
		{% if permission > 0 %}
		<li class="{% if current == 'Model panel' %} active-menu-tab {% endif %}"><a href="/moder_panel">Add Task</a></li>
		{% endif %}
		{% if permission > 1 %}
		<li class="{% if current == 'Admin panel' %} active-menu-tab {% endif %}">
			<a href="/admin_panel">Permission edit</a>
		</li>
		{% endif %}
	</ul>
</div>