@font-face {
	font-family: BigBlueTerminal;
	src: url(../css/font.ttf);
}

body {
	background-color: black;
	background-image: radial-gradient(
		rgba(0, 0, 50, 0.75), black 120%
	);
	height: 100vh;
	color: white;
	font: 1.3rem BigBlueTerminal, monospace;
	text-align: center;
}

ul.menu-list li{
	display: inline; list-style: none;
	margin-right: 15px;
}

.table {
	background-color: black;
	border: 5px solid white;
	margin-left:auto; 
	margin-top:20px;
	margin-bottom:20px;
	margin-right:auto;
}

.table thead th {
	padding: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
}
.table tbody td {
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	border-top: 5px solid white;
}

.menu-container a{
	text-decoration: none;
}

.active-menu-tab a{
	text-decoration: underline;
}

a{
	color: white;
}

.menu-container {
	width: 99%;
	height: 30;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 5px solid white;
	border: 5px solid white;
	background-color: black;
}

.submit {
	background-color: black; 
	border: none;
	color: white;
	padding: 12 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 2px solid white;
	font: 1.3rem BigBlueTerminal, monospace;
}

form {
	margin: 20px;
}

.login-container {
	text-align: right;
}

input[type="file"] {
  display: none;
}
